apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Black Friday Chicago POS Overlay
# This extends the baseline chicago config with surge modifications
# Applied AFTER Seattle monitoring shows success

namespace: retail-pos

resources:
  - ../edge-chicago  # Build on existing Chicago baseline

patches:
- target:
    kind: Deployment
    name: pos-ui
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
    - op: replace
      path: /spec/template/spec/containers/0/image
      value: retailstorefrontacr.azurecr.io/react-pos:v5.0-black-friday
    # Note: Black Friday features are compiled at build-time, no runtime env vars needed
      value:
        name: SURGE_PRICING_ACTIVE
        value: "true"

configMapGenerator:
- name: black-friday-pricing-chicago
  literals:
  - event=black-friday
  - location=chicago
  - winter-coats-discount=55
  - boots-discount=50
  - winter-jackets-discount=60
  - accessories-discount=40
  - surge-mode=active
  - timezone=CST

commonLabels:
  black-friday: "true"
  location: chicago
  surge-event: active