apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../apps/edge/pos

# BLACK FRIDAY SURGE ACTIVATION - Seattle Store
# Toggle Black Friday mode by changing these ConfigMap values
configMapGenerator:
- name: black-friday-pos-config
  literals:
  - BLACK_FRIDAY_ENABLED=true
  - POS_IMAGE_TAG=v5.0-black-friday
  - SURGE_REPLICAS=3
  - LOCATION=seattle
  - PRICING_MODE=black-friday

# Apply Black Friday configuration to POS
patches:
- target:
    kind: Deployment
    name: pos-ui
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: BLACK_FRIDAY_ENABLED
        valueFrom:
          configMapKeyRef:
            name: black-friday-pos-config
            key: BLACK_FRIDAY_ENABLED
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: SURGE_PRICING_ACTIVE
        valueFrom:
          configMapKeyRef:
            name: black-friday-pos-config
            key: BLACK_FRIDAY_ENABLED

# Dynamic image switching based on ConfigMap
replacements:
- source:
    kind: ConfigMap
    name: black-friday-pos-config
    fieldPath: data.POS_IMAGE_TAG
  targets:
  - select:
      kind: Deployment
      name: pos-ui
    fieldPaths:
    - spec.template.spec.containers.[name=pos-ui].image
    options:
      delimiter: ':'
      index: 1
