apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Black Friday Cloud Frontend Overlay
# This extends the baseline cloud config with surge modifications

namespace: apparel-store

resources:
  - ../cloud-eastus  # Build on existing cloud baseline

patches:
- target:
    kind: Deployment
    name: frontend
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 25
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: REACT_APP_SHOW_PROMO_BANNER
        value: "true"
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: BLACK_FRIDAY_MODE
        value: "active"

- target:
    kind: Deployment
    name: pricing-service
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 10

configMapGenerator:
- name: black-friday-config
  literals:
  - black-friday-enabled=true
  - promo-banner-enabled=true
  - winter-coats-discount=55
  - boots-discount=50
  - winter-jackets-discount=60
  - accessories-discount=40
  - surge-traffic-mode=active

commonLabels:
  black-friday: "true"
  surge-event: active