apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: apparel-store

resources:
  - ../../apps/cloud/frontend
  - ../../apps/cloud/analytics

configMapGenerator:
  - name: frontend-config
    literals:
      - ENVIRONMENT=production
