apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../apps/cloud/frontend
  - ../../apps/cloud/analytics

# BLACK FRIDAY SURGE ACTIVATION
# Toggle Black Friday mode by changing these ConfigMap values
configMapGenerator:
- name: black-friday-config
  literals:
  - BLACK_FRIDAY_MODE=true
  - FRONTEND_IMAGE_TAG=v5.0-black-friday
  - SURGE_REPLICAS=25
  - PROMO_BANNER_ENABLED=true
  behavior: replace

# Apply Black Friday configuration to frontend
patches:
- target:
    kind: Deployment
    name: frontend
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 25
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: REACT_APP_BLACK_FRIDAY_MODE
        valueFrom:
          configMapKeyRef:
            name: black-friday-config
            key: BLACK_FRIDAY_MODE
    - op: add
      path: /spec/template/spec/containers/0/env/-
      value:
        name: REACT_APP_SHOW_PROMO_BANNER
        valueFrom:
          configMapKeyRef:
            name: black-friday-config
            key: PROMO_BANNER_ENABLED

# Dynamic image switching based on ConfigMap
replacements:
- source:
    kind: ConfigMap
    name: black-friday-config
    fieldPath: data.FRONTEND_IMAGE_TAG
  targets:
  - select:
      kind: Deployment
      name: frontend
    fieldPaths:
    - spec.template.spec.containers.[name=frontend].image
    options:
      delimiter: ':'
      index: 1
