apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: retail-pos

resources:
  - ../../apps/edge/pos

configMapGenerator:
  - name: black-friday-pos-config
    literals:
      - STORE_LOCATION=Chicago
      - EVENT_NAME=Black Friday Store Sale

# Note: Black Friday features are compiled at build-time, no image override needed
