apiVersion: apps/v1
kind: Deployment
metadata:
  name: pricing-service
  namespace: apparel-store
  labels:
    app: pricing-service
    tier: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pricing-service
  template:
    metadata:
      labels:
        app: pricing-service
    spec:
      containers:
      - name: pricing-engine
        image: retailstorefrontacr.azurecr.io/pricing-service:v2.3
        ports:
        - containerPort: 8080
        env:
        # No Black Friday env vars for baseline
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1Gi"
            cpu: "1000m"
